.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background: rgb(185, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(185, 185, 185, 0.1) 0%,
    rgba(78, 78, 78, 0.5) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.testBox {
  display: flex;
  flex-direction: row;
}

input {
  text-align: center;
  margin-bottom: 8px;
  width: 220px;
  height: 28px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.line {
  width: 26%;
  margin: 40px;
  border: 1px solid gray;
}

.signalContainer {
  display: flex;
}

.signal_Black {
  position: relative;
  top: -50px;
  width: 20px;
  height: 20px;
  margin: 0px 40px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: gray;
}

.signal_Light {
  background-color: white;
  box-shadow: 0 0 10px rgb(255, 218, 162), 0 0 20px rgb(255, 201, 131),
    0 0 30px #e67b00, 0 0 40px #e66800, 0 0 50px #e2e600, 0 0 60px #d7e600,
    0 0 70px #fff383;
}

.testBox {
  display: flex;
  justify-content: space-between;
}

.basicContainer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 220px;
  height: 28px;
  background: rgb(185, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(185, 185, 185, 0.1) 0%,
    rgba(78, 78, 78, 0.5) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 10px;
  outline: 0 none;
  text-align: center;
  color: white;
}

option {
  font-weight: bold;
  background-color: rgba(185, 185, 185, 0.5);
  color: black;
  border-radius: 10px;
  padding-bottom: 10px;
}

.select:disabled {
  opacity: 0.5;
}

.moveText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 210px;
  padding: 0px 100px;
}

.rightMove {
  -webkit-transition-duration: 300ms;
  -webkit-transform: translateX(-420px);
  -webkit-transition-timing-function: linear;
}

.leftMove {
  -webkit-transition-duration: 300ms;
  -webkit-transform: translateX(0px);
  -webkit-transition-timing-function: linear;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.checkBox {
  text-align: center;

  width: 100%;
  height: 50px;
}

.checkName {
  color: #ff5252;
  /* visibility: hidden; */
}

.nullText {
  visibility: hidden;
}

.selectTitle {
  color: white;
  padding-bottom: 10px;
}

.radioBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
  flex-direction: row;
}

label {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.radioInput {
  width: 20px;
  margin: 0;
}

.playTime {
  margin-bottom: 20px;
}

.testBtn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid #ff6f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  margin: 40px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.testBtn:hover {
  background: rgb(255, 249, 225);
  background: linear-gradient(
    180deg,
    rgba(255, 249, 225, 1) 0%,
    rgba(255, 223, 163, 1) 100%
  );
  color: black;
}

.checkBtn {
}

.nullBtn {
  opacity: 0.5;
  pointer-events: none;
}
