* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

h1 {
  padding-top: 30px;
  font-size: 48px;
}

p {
  padding: 0;
}

input {
  margin-bottom: 0px;
  width: 220px;
  height: 28px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.basicContainer {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.loginTitle {
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0 10px;
}
.inputBox {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputText {
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid #ff6f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  margin: 40px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: rgb(255, 249, 225);
  background: linear-gradient(
    180deg,
    rgba(255, 249, 225, 1) 0%,
    rgba(255, 223, 163, 1) 100%
  );
  color: black;
}

.sealBtn {
  width: 100px;
  height: 40px;
  background-color: gray;
  border: 1.5px solid gray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  margin: 40px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  opacity: 0.5;
  pointer-events: none;
}

.backdrop {
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 200, 145, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

.checkData {
  text-align: center;
  width: 350px;
  height: 30px;
  color: #f44336;
}

.nullData {
  visibility: hidden;
}
